
# Ignore all files not essential for the build
**/*

# Allow necessary files
!/src
!/Cargo.toml
!/Cargo.lock
!/cacerts.pem
!/.cargo

# Ignore Dockerfile itself and .dockerignore
Dockerfile
.dockerignore
.git
.gitignore
target/
